MONGODB_URI=mongodb+srv://vishalkhanvilkar00012_db_user:Vishal012@cluster0.mzl4k1m.mongodb.net/?appName=Cluster0

JWT_SECRET=93285a6a49bf4f4a1a674b0b8ab8153106a335bdc1ac3182e243b7559e22cf8e

JWT_COOKIE_NAME=book_manager_token

JWT_SESSION_SECONDS=604800
